{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum molestias, ex tenetur et sunt veniam harum ad, non provident, eveniet dolorum enim natus soluta placeat atque reprehenderit ea cumque. Ullam enim laudantium maxime non ab velit, ut sint quod nesciunt tempora ex ipsa minus. Pariatur quisquam sit recusandae facere esse!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, rerum vel soluta sunt aperiam praesentium veniam nihil explicabo aliquam repellendus ex! Deleniti a blanditiis eveniet esse iure explicabo corporis magni hic, nulla quis possimus itaque aspernatur? Consequuntur, rem quia repudiandae maiores quidem ex laborum minus animi deserunt? Facere, placeat quod!</p>
    
</div>

{% endblock content %}